<div id="home_panel">
  <div class="row limit">  
    <div class="col-md-4">
      <strong>Products New</strong>
      <div id="myCarousel" class="carousel slide vertical">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% @recent_products.each_with_index do |product, index| %>
            <% if index == 0 %>
            <div class="active item">
              <%= product.name %>
              <%= image_tag product.picture.url, size: "310x250" %>
            </div>
            <% else %>
            <div class="item">
              <%= product.name %>
              <%= image_tag product.picture.url, size: "310x250" %>
            </div>
            <% end %>
          <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    
    <div class="col-md-4">
    <strong>Top Seller</strong>
      <div id="myCarousel1" class="carousel slide vertical">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% @top_seller_products.each_with_index do |product, index| %>
            <% if index == 0 %>
            <div class="active item">
              <%= product.name %>
              <%= image_tag product.picture.url, size: "310x250" %>
            </div>
            <% else %>
            <div class="item">
              <%= product.name %>
              <%= image_tag product.picture.url, size: "310x250" %>
            </div>
            <% end %>
          <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel1" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel1" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <div class="col-md-4">
    <strong>Big Deals</strong>
      <div id="myCarousel2" class="carousel slide vertical">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% @top_deals.each_with_index do |product, index| %>
            <% if index == 0 %>
            <div class="active item">
              <%= product.name %>
              <%= image_tag product.picture.url, size: "310x250" %>
            </div>
            <% else %>
            <div class="item">
              <%= product.name %>
              <%= image_tag product.picture.url, size: "310x250" %>
            </div>
            <% end %>
          <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</div>


<div id="products_wrap">
<h1>SHOP</h1>
<div id="first">
  <h3>PAGES</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/faqs">FAQs</a></li>
    <li><a href="/contact">Contact us</a></li>
    <li><a href="/privacy">Privacy policy</a></li>
    <li><a href="/terms">Terms and Conditions</a></li>
  </ul>
</div>
<ul id="product_list">
  <%= render @products %>
</ul>
</div>