<li id="product-#{product.id}">  
  <%= image_tag product.picture.url, size: "100x100" %>    
  <h4><a class="title"><%= link_to product.name, product_path(product) %></a></h4>
  <p><%= product.description %></p>
  <p>Quantity: <%= product.number %></p>
  <span><%= product.price %></span>
  Visual Effects: <%= rating_for product, "visual_effects" %>
  <br />
  <span>
  <a href="#">
  <%= link_to "#{product.comments.count} Comment", product_path(product) %>
  </a>
  </span>
  <%= form_tag(order_items_path, method: :post) do %>
    <%= hidden_field_tag(:product_id, product.id) %>
    <%= submit_tag("Add to Cart") %>
  <% end %>
</li>