<div id="show_product">
<p id="notice"></p>
  <h1><%= @product.name %></h1>
  
  <%= image_tag(@product.picture.url, size: "100x100", id:"main_img") %>

  <div id="show_content">
    <p><strong>Description: </strong><br><%= @product.description %></p>
    <p><strong>Category:</strong><%= @product.category.name %></p>
    <p><strong>Number:</strong><%= @product.number %></p><br>
    <p><strong>Price: </strong><%= @product.price %></p>
    
    Visual Effects: <%= rating_for @product, "visual_effects" %>
    <br />
    <a href="#"> 
    <%= "#{@comments.count} Comment" %>
    </a>
    
    <%= form_tag(order_items_path, method: :post) do %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= submit_tag("Add to Cart") %>
    <% end %>
   
  </div>
</div>

<div class="form-comment" >
  <div id="comment_content_<%= @product.id %>">
   <% @comments.each do |comment| %>
    <div class="comments">
      <p class="comment_inf">
      <span>Guest</span> :  <%= comment.content %>
      </p>
    </div> 
    <% end %>
    <%= will_paginate @comments %>
    <%= render 'comments/comment_form', product: @product %>
  </div> 
</div>

<script type="text/javascript">
    function show_comment(which){
    if (!document.getElementById)
        return;
    if (which.style.display=="block")
      which.style.display = "none";
    else
      which.style.display = "block";
  };
</script>